<tr>
  <td><%= link_to wine.name, wine %></td>
  <td><%= wine.price_retail %></td>
  <td><%= wine.appellation.try(:name) %></td>
  <td><%= wine.appellation.try(:region) %></td>
  <td><%= wine.varietal.try(:name) %></td>
  <td><%= wine.varietal.try(:type) %></td>
</tr>
