<tr>
  <td><%= link_to wine.name, wine %></td>
  <td><%= wine.price_retail %></td>
  <td><%= wine.appellation.name %></td>
  <td><%= wine.appellation.region %></td>
  <td><%= wine.varietal.name %></td>
  <td><%= wine.varietal.type %></td>
</tr>
