<p id="notice"><%= notice %></p>

<h1>Wines <%= render 'layouts/wine_dot_com_logo' %></h1>

<%= link_to 'New Wine', new_wine_path, class: 'button' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price retail</th>
      <th>Appellation</th>
      <th>Region</th>
      <th>Varietal</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody id="wines">
    <%= render partial: 'wine', collection: @wines %>
  </tbody>
</table>

<div id='wines-paginator'>
  <%= paginate @wines, :remote => true %>
</div>
